---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Services from '../components/Services.astro';
import Team from '../components/Team.astro';
import Case from '../components/Case.astro';
import Testimonial from '../components/Testimonial.astro';
import Contact from '../components/Contact.astro';
---
<!-- Mustmedia Official Astro theme -->
<Layout title="Mustmedia - Digital Marketing Agency">
	<main class="space-y-20">
		<Hero />
		<About />
		<Services />
		<Case />
		<Team />
		<Testimonial />
		<Contact data-aos="fade-up" />
	</main>
</Layout>